TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
OPENROUTESERVICE_API_KEY=your_ors_api_key_here
HF_ACCESS_TOKEN=your_huggingface_access_token_here

OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
OPENROUTE_BASE_URL=https://api.openrouteservice.org/v2/ 